# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/
ENV/
env/
env.bak/
.venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode or PyCharm settings
.vscode/
.idea/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db
desktop.ini

# Python egg metadata
*.egg-info/
*.egg

# Logs and databases
*.log
*.sqlite
*.db

# Pipenv / Poetry / Hatch
Pipfile.lock
poetry.lock

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Temporary files
*.bak
*.swp
*.tmp

# Local build
build/
dist/
*.spec

# Project-specific folders
__output__/
